.CustomerInvoice_main{
    position: absolute;
    top: 60px;
    left: 12vw;
    width: 88vw;
    height: fit-content;
    background: linear-gradient(90deg, rgba(226,233,243,1) 40%, rgba(227,227,245,1) 79%);
    color: rgb(0, 0, 0);
    height: calc( 100% - 60px);
}
.CustomerInvoice_searchbar{
    width: 95%;
    height: 8vh;
    padding: 1vh 0;

    display: flex;
    justify-content: center;
    align-items: center;
}
.search-area{
    width: 50vw;
    height: 5vh;
    border-radius: 20px;
    padding-left: 2vw;
    border-style: none;
    font-size: 15px;
    background-color: white;
}
.search-btn{
    font-size: 30px;
    border-radius: 0 20px 20px 0;
    border-width: 0;
    background-color: white;
    display: inline;
    height: 5.2vh;
    margin-left: 1px;
}
.bg-search-btn :active{
    background-color: #152737;
    color:white;
}
.CustomerInvoice_btn_create{
    width: 10vw;
    height: 5vh;
    margin-left: 10vh;
    background-color: #152737;
    color: white;
    font-weight: bold;
    border-radius: 15px;
    border-width: 0;
}
.CustomerInvoice_btn_create:hover{
    background-color: #fe4880;
    color: white;
    cursor:pointer;
}
.CustomerInvoice-information{
    width: 80vw;
    height: 78vh;
    overflow: hidden;
    background-color: #fff;
    
    margin-left: 4vw;
    border-radius: 10px;
    margin-bottom: 4vh;
    display: block;
}
.CustomerInvoice-information:hover{
    overflow: auto;
}
.CustomerInvoice-information-header{
    border-radius: 10px 10px 0 0;
    background-color: #fff;
    position: fixed;
    width: 80vw;
    display: flex;
    flex-direction: row;
}
table{
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}
.CustomerInvoice-information-header th{
    line-height: 5vh;
    text-align: center;
}
.CustomerInvoice_detail_infor{
    padding-top: 40px;
}
.CustomerInvoice-information-detail{
    width: 100%;
    /* padding-top: 2vh; */
    display: block;
    display: flex;
    flex-direction: column;
}
.CustomerInvoice-information-detail :hover{
    background-color: #152737;
    cursor: pointer;
    color: #fff;
}
.CustomerInvoice-information-detail-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
}
.CustomerInvoice-information-detail-wrapper td{
    text-align: center;
    white-space: nowrap;
    overflow: hidden; /* ẩn phần vượt quá khung */
    text-overflow: ellipsis; /* thay thế phần vượt quá bằng dấu chấm ba chấm */
}
.red-text {
    color: red;
}
.green-text {
    color: green;
}
.pink-text {
    color: #393eff;
}
.orange-text {
    color: #fba011;
}