.AdminDetailDeposit {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
.AdminDetailDeposit_modal {
    background-color: #fff;
    border-radius: 16px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    padding: 20px;
    width: 55vw;
    overflow: auto;
    position: relative;
}
.AdminDetailDeposit_modal-body {
    display: flex;
    justify-content: center;
    align-items: flex-start;

    text-align: center;
}
.AdminDetailDeposit_modal-header{
    text-align: center;
    margin-bottom: 3vh;
}
.AdminDetailDeposit_modal-header button {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 2vw;
    border: none;
    cursor: pointer;
    color:rgb(65, 81, 81)
}
.AdminDetailDeposit_modal-body-inf_label{
    flex:1;
    display: block;
}
.Label_PropDeposit{
    width: 180px;
}
.AdminDetailDeposit_modal-body-inf_input{
    flex:1;
    display: flex;
    flex-direction: column;
}
.Input_PropDeposit{
    width: 20vw;
    height: 30px;
    border-radius: 5px;
}
.AdminDetailDeposit_modal-body-inf_image{
    flex: 1;
}
.AdminDetailDeposit_modal_Btn_AddImg{
    height: 4vh;
    background-color: burlywood;
    border-width: 0;
    border-radius: 10px;

    margin-top: 1vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 40px;
}
.AdminDetailDeposit_modal_Btn_Change{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100%;
}
.AdminDetailDeposit_modal_Btn_Change_Cancel{
    text-align: center;

    background-color:#152737 ;
    color: #fff;
    border-width: 0;
    border-radius: 10px;
}
.AdminDetailDeposit_modal_Btn_Change_Delete{
    text-align: center;

    background-color:#ab2a33 ;
    color: #fff;
    border-width: 0;
    border-radius: 10px;
}
.AdminDetailDeposit_modal_Btn_Change_Confirm{
    text-align: center;

    background-color:#249a42 ;
    color: #fff;
    border-width: 0;
    border-radius: 10px;
}
button:hover{
    background-color:#977555 ;
    color: #fff;
    cursor: pointer;
}