.AdminRevenue_main{
    position: absolute;
    top: 8vh;
    left: 12vw;
    width: 88vw;
    height: fit-content;
    background-color: #EDEDED;
    color: rgb(0, 0, 0);
}
.AdminRevenue_Top{
    position: relative;
    margin: 1vw 0 1vw 1vw;
    width: 96%;
    height: 42vh;
    background-color: white;
    display: flex;
    justify-content: space-between;

    border-radius: 10px;
    padding: 5px 5px;
}
.AdminRevenue_Bottom{
    position: relative;
    background-color: #EDEDED;
    height: 42vh;
    width: 85vw;
    margin: 24px 0 10px 20px;

    display: flex;
}
.AdminRevenue_Chart{
    flex:3;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    padding: 10px 20px 30px 20px;
}
.AdminRevenue_Chart .AdminRevenue_Chart_Label{
    height: fit-content;
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}
.Chart_Name{
    display: inline-block;
    font-weight: 500;
}
.Chart_Date{
    padding-right: auto;
    height: fit-content;
    display: inline-block;
}
.AdminRevenue_ProductPercents{
    flex:1;
    background-color: rgb(255, 255, 255);
    margin-left: 20px;
    border-radius: 20px;
}
.Chart_LabelDay{
    color:black;
    display:inline;

    font-size: 16px;
    font-weight: 500;
}
.AdminRevenue_Chart .Chart_Date .Chart_Calendar{
    background-color: transparent;
    border: none;
    color: blue;
    font-size: 16px;
    z-index: 999;
    display:inline;
}
.AdminRevenue_ProductPercents{
    padding: 10px 0 30px 20px;
}
.ProductPercents_Label{
    /* padding-bottom: 10px; */
    color: rgba(53, 162, 235, 1);
    font-size: 16px;
    font-weight: 500;
}