.AdminReport_main{
    position: absolute;
    top : 8vh;
    left : 12vw;
    width : 88vw;
    height : fit-content;
    background-color: #EDEDED;
    color: rgb(0, 0, 0);
}

.AdminReport_information{
    position: absolute;
    width : 88vw;
    height : 92vh;
    background-color: #EDEDED;
    max-width: 88vw;
    overflow-y: auto;
    overflow-x: hidden;
}
