.AdminDetailCustomer {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
.AdminDetailCustomer_modal {
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    padding: 20px;
    width: 55vw;
    height: 45vh;
    max-width: 100%;
    max-height: 100%;
    overflow: auto;
    position: relative;
}
.AdminDetailCustomer_modal-body {
    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;
}
.AdminDetailCustomer_modal-header{
    text-align: center;
    margin-bottom: 3vh;
}
.AdminDetailCustomer_modal-header button {
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.AdminDetailCustomer_modal-body-inf_label{
    display: block;
}
.Label_PropCustomer+ .Label_PropCustomer{
    margin-top: 22px;
}
.AdminDetailCustomer_modal-body-inf_input{
    display: flex;
    flex-direction: column;
}
.AdminDetailCustomer_modal-body-inf_label+ .AdminDetailCustomer_modal-body-inf_input{
    margin-left: 25px;
}
.Input_PropCustomer{
    width: 24vw;
    height: 3vh;
    border-radius: 5px;
}
.Input_PropCustomer+ .Input_PropCustomer{
    margin-top: 15px;
}
.AdminDetailCustomer_modal_Btn_Change{
    margin-top: 5vh;
    display: flex;
    justify-content: space-around;
}
.AdminDetailCustomer_modal_Btn_Change_Cancel{
    width: 10vw;
    height: 4vh;
    text-align: center;

    background-color:#152737 ;
    color: #fff;
    border-width: 0;
    border-radius: 10px;
}
.AdminDetailCustomer_modal_Btn_Change_Delete{
    width: 10vw;
    height: 4vh;
    text-align: center;

    background-color:#ab2a33 ;
    color: #fff;
    border-width: 0;
    border-radius: 10px;
}
.AdminDetailCustomer_modal_Btn_Change_Confirm{
    width: 10vw;
    height: 4vh;
    text-align: center;

    background-color:#249a42 ;
    color: #fff;
    border-width: 0;
    border-radius: 10px;
}
button:hover{
    background-color:#977555 ;
    color: #fff;
    cursor: pointer;
}