.AdminDetailInvoice {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
  }
.AdminDetailInvoice_modal {
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    width: 83vw;
    min-height: 80vh;
    /* height: 95vh; */
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
    position: relative;
}
.AdminDetailInvoice_modal:hover{
    overflow: auto;
}
.AdminDetailInvoice_modal-header{
    text-align: center;
    display: inline;
}
.AdminDetailInvoice_modal-header .button-exit {
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    background-color: #977555;
    color:white;
    cursor: pointer;
    height: 30px;
    width: 30px;

    border-radius: 10px;
}
.AdminDetailInvoice_modal-header .button-exit:hover {
    background-color: #FF5C5C;
}
.AdminDetailInvoice_Bottom{
    position: relative;
    height: auto;
    width: 70vw;
    margin: 3vh 0 1vh 1vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* text-align: center; */
}
.AdminDetailInvoice_Detail_Content_Date{
    display: flex;
    margin-left: 10vw;
    max-height: 5vh;
}
.AdminDetailInvoice_Detail_Content_Date1{
    display: flex;
    margin-left: 10vw;
    max-height: 5vh;
    margin-bottom: 4vh;
}
.AdminDetailInvoice_Detail_Content_LabelDay{
    color:black;
    display:inline;

    font-size: 16px;
    font-weight: 500;
    min-width: 10vw;
    width: fit-content;
}
.AdminDetailInvoice_Detail_Content_LabelDay1{
    color:black;
    display:inline;

    font-size: 16px;
    font-weight: 500;
    min-width: 11.5vw;
    width: fit-content;
}
.AdminDetailInvoice_Detail_Content_Calendar{
    background-color: transparent;
    border: none;
    font-size: 16px;

    display:inline;
    margin-left: 2vw;
}
.AdminDetailInvoice_Detail{
    /* padding-top: 10px; */
    height: fit-content;
}
.AdminDetailInvoice_CustomerInf_Label{
    display: inline;
    font-weight: 500;
    width: fit-content;
}
.AdminDetailInvoice_Detail_Content_Customer{
    margin-left: 2vw;
}
.AdminDetailInvoice_Detail_ProductInf_Label{
    display: flex;
    margin-left: 10vw;
    /* margin-bottom: 20vh; */
    font-weight: 500;
}
.AdminDetailInvoice_ProductList{
    width: 80vw;
    max-width: 80vw;
    min-height: 25vh;
}
.AdminDetailInvoice_ProductInf{
    display: flex;
    flex-direction: row;
    margin-left: 7vw;
    margin-top: 2vh;
}
.AdminDetailInvoice_ProductInf td{
    width: fit-content;
    line-height: 4vh;
    max-height: 4vh;
    text-align: center;

    max-width: 9.5vw;
    min-width: 9.5vw;
    white-space: nowrap;
    overflow: hidden; /* ẩn phần vượt quá khung */
    text-overflow: ellipsis; /* thay thế phần vượt quá bằng dấu chấm ba chấm */
    padding: 0 0.4vw;
}
.AdminDetailInvoice_modal_Btn_Change{
    display: flex;

    justify-content: space-between;
    position:relative;
    margin-left: 15vw;
    margin-top: 5vh;
}
.AdminDetailInvoice_modal_Btn_Change_Cancel{
    width: 10vw;
    height: 4vh;
    text-align: center;

    background-color:#FF5C5C ;
    color: #fff;
    border-width: 0;
    border-radius: 10px;
}
.AdminDetailInvoice_modal_Btn_Change_Confirm{
    width: 10vw;
    height: 4vh;
    text-align: center;

    background-color:#249a42 ;
    color: #fff;
    border-width: 0;
    border-radius: 10px;
}
.AdminDetailInvoice_modal_Btn_Change_PrintBarcode{
    width: 10vw;
    height: 4vh;
    text-align: center;

    background-color:#364f9b ;
    color: #fff;
    border-width: 0;
    border-radius: 10px;
}
.AdminDetailInvoice_modal_Btn_Change_PrintInvoice{
    width: 10vw;
    height: 4vh;
    text-align: center;

    background-color:#105548 ;
    color: #fff;
    border-width: 0;
    border-radius: 10px;
}
button:hover{
    background-color:#977555 ;
    color: #fff;
    cursor: pointer;
}