.sidebar {
    height: auto;
    width: 12vw;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(255, 255, 255);
    overflow-x: hidden;
    padding-top: 20px;
}
.sidebar_logo {
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
    padding-left: 10px;
}
.sidebar_PlanB {
    color: #152737;
    width: 50px;

    vertical-align: middle;
}
.sidebar_title {
    color: #152737;
    font-weight: bold;
    font-size: 20px;
    padding: 10px 0 0 10px;
}
.sidebar_item {
    color: #152737;
    padding-top: 20px;
    padding-left: 15px;
}
.sidebar_item_bottom{
    color: #152737;
    margin-top: 100px;
    padding-left: 15px;
    margin-bottom: 14px;
}
.sidebar_item:hover{
    color: #fe4880;
    cursor: pointer;
}
.sidebar_item_bottom:hover{
    color: #fe4880;
    cursor: pointer;
}
.sidebar a{
    text-decoration: none;
}
.iconify{
    padding-right: 10px;
    font-size: 25px;
    vertical-align: middle;
}
.active-link {
    color: rgb(185, 39, 39);
}
  