.AdminStaff_main{
    position: absolute;
    top: 8vh;
    left: 12vw;
    width: 88vw;
    height: fit-content;
    background-color: #EDEDED;
    color: rgb(0, 0, 0);
}
.AdminStaff_searchbar{
    width: 95%;
    height: 8vh;
    padding: 1vh 0;

    display: flex;
    justify-content: center;
    align-items: center;
}
.search-area{
    width: 50vw;
    height: 5vh;
    border-radius: 20px;
    padding-left: 2vw;
    border-style: none;
    font-size: 15px;
    background-color: white;
}
.search-btn{
    font-size: 30px;
    border-radius: 0 20px 20px 0;
    border-width: 0;
    background-color: white;
    display: inline;
    height: 5.2vh;
    margin-left: 1px;
}
.bg-search-btn :active{
    background-color: #152737;
    color:white;
}
.AdminStaff_btn_create{
    width: 10vw;
    height: 5vh;
    margin-left: 10vh;
    background-color: #152737;
    color: white;
    font-weight: bold;
    border-radius: 15px;
    border-width: 0;
}
.AdminStaff_btn_create:hover{
    background-color: #fe4880;
    color: white;
    cursor:pointer;
}
.AdminStaff-information{
    width: 80vw;
    height: 78vh;
    overflow: auto;
    background-color: #fff;
    
    margin-left: 4vw;
    margin-bottom: 4vh;
    border-radius: 10px;
}
.AdminStaff-information{
    display: block;
}
.AdminStaff-information-header{
    width: 80vw;
    border-radius: 10px 10px 0 0;
    background-color: #fff;
    position: fixed;

    /* display: none; */
}
table{
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}
.AdminStaff-information-header th{
    width: 15.5vw;
    line-height: 5vh;
    text-align: center;
}
.AdminStaff_detail_infor{
    padding-top: 7vh;
}
.AdminStaff-information-detail{
    width: 100%;
    padding-top: 1vh;
    display: block;
}
.AdminStaff-information-detail :hover{
    background-color: #152737;
    cursor: pointer;
    color: #fff;
}
.AdminStaff-information-detail-wrapper td{
    width: 14.25vw;
    line-height: 5vh;
    padding-right: 1.3vw;
    padding-bottom: 5px;
    text-align: center;

    min-width: 14.25vw;
    max-width: 14.25vw;
    white-space: nowrap;
    overflow: hidden; /* ẩn phần vượt quá khung */
    text-overflow: ellipsis; /* thay thế phần vượt quá bằng dấu chấm ba chấm */
}
