.AdminChart_main{
    position: absolute;
    top: 8vh;
    left: 12vw;
    width: 88vw;
    height: fit-content;
    background: linear-gradient(90deg, rgba(226,233,243,1) 40%, rgba(227,227,245,1) 79%);
    color: rgb(0, 0, 0);
}
.AdminChart_Top{
    position: relative;
    margin: 1vw 0 1vw 1vw;
    width: 96%;
    height: 42vh;
    background-color: white;
    display: flex;
    justify-content: space-between;

    border-radius: 10px;
    padding: 5px 5px;
}
.AdminChart_Bottom{
    position: relative;
    background: linear-gradient(90deg, rgba(226,233,243,1) 40%, rgba(227,227,245,1) 79%);
    height: 42vh;
    width: 85vw;
    margin: 24px 0 10px 20px;

    display: flex;
}
.AdminChart_Chart{
    flex:3;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    padding: 10px 20px 30px 20px;
}
.AdminChart_Chart .AdminChart_Chart_Label{
    height: fit-content;
    display: flex;
    justify-content: space-around;
}
.Chart_Name{
    display: inline-block;
    font-weight: 500;
}
.Chart_Date{
    padding-right: auto;
    height: fit-content;
    display: inline-block;
}
.AdminChart_ProductPercents{
    flex:1;
    background-color: rgb(255, 255, 255);
    margin-left: 20px;
    border-radius: 20px;
    padding: 10px 0 30px 20px;
}
.AdminChart_ProductPercents_title{
    display: flex;
}
.Chart_LabelDay{
    color:black;
    display:inline;

    font-size: 16px;
    font-weight: 500;
}
.AdminChart_Chart .Chart_Date .Chart_Calendar{
    background-color: transparent;
    border: none;
    color: blue;
    font-size: 16px;
    display:inline;
}
.ProductPercents_Label{
    /* padding-bottom: 10px; */
    color: #35a2eb;
    font-size: 16px;
    font-weight: 500;
}