.AdminDeposit_main{
    position: absolute;
    top: 8vh;
    left: 12vw;
    width: 88vw;
    height: fit-content;
    background-color: #EDEDED;
    color: rgb(0, 0, 0);
}
.AdminDeposit_Bottom{
    position: relative;
    background-color: #EDEDED;
    height: 86.5vh;
    width: 84vw;
    margin: 20px 0 20px 30px;

    display: flex;
}
.AdminDeposit_Content{
    flex:1;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
}
.AdminDeposit_CustomerInf{
    display: flex;
    max-height: 5vh;
    align-items: center;
}
.AdminDeposit_Detail{
    padding-top: 20px;
    height: fit-content;
}
.AdminDeposit_ProductList{
    width: 60vw;
    max-width: 60vw;
    
    height: 45vh;
    padding-top: 10px;
    overflow: auto;
}
.AdminDeposit_ProductInf{
    display: flex;
    flex-direction: row;
}
.AdminDeposit_ProductInf:hover{
    background-color: aliceblue;
    cursor: pointer;
}
.AdminDeposit_ProductInf td{
    width: 8.5vw;
    line-height: 6vh;
    text-align: center;

    max-width: 8.5vw;
    min-width: 8.5vw;
    white-space: nowrap;
    overflow: hidden; /* ẩn phần vượt quá khung */
    text-overflow: ellipsis; /* thay thế phần vượt quá bằng dấu chấm ba chấm */
    padding: 0 0.4vw;
}
.AdminDeposit_ProductInf .btn_deleteProduct{
    width: 2vw;
    text-align: center;
    max-width: 2vw;
    min-width: 2vw;
    display: none;

    z-index: 9998;
}
.AdminDeposit_ProductInf:hover .btn_deleteProduct {
    display: table-cell;
}
.AdminDeposit_btnChange{
    margin-top: 15px;
    display: flex;
    justify-content: space-around;
}
.AdminDeposit_btnChange button{
    color: white;
    border-width: 0;
    border-radius: 10px;
    width: 11vw;
    height: 4vh;
}
.AdminDeposit_btnChange button:active{
    background-color: #FF5C5C;
}
.AdminDeposit_btnAddProduct{    
    background-color: #29bbd8;
}
.AdminDeposit_btnConfirm{
    background-color: #649e3c;
}
.AdminDeposit_btnCancel{
    background-color: #FF5C5C;

}
.AdminDeposit_btnComplete{
    background-color: #649e3c;

}
.AdminDeposit_btnPrintProduct{
    background-color: #e0b418;
}
.AdminDeposit_btnPrintInvoice{
    background-color: #3c9e84;
}