.Header{
    width: 100%;
    background-color: #E2E9F3;
    color: rgb(0, 0, 0);
    overflow-x: hidden;
    z-index: 1;

    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    height: 60px;
}
.Header_title{
    font-weight: bold;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fe4880;
}
.Header_account{
    display: flex;
    align-items: center;
    justify-content: end;
    flex-direction: row;
    gap:8px;
    padding: 0 12px;
}

.Header_account_name{
    margin-top: 20px;
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
