.AdminSchedule_main{
    position: absolute;
    top: 60px;
    left: 12vw;
    width: 88vw;
    height: fit-content;
    background-color: #EDEDED;
    color: rgb(0, 0, 0);
    height: calc( 100% - 60px);
}
.AdminSchedule_searchbar{
    width: 95%;
    height: 8vh;
    padding-top: 2vh;

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    font-family: 'Times New Roman', Times, serif;
}
.AdminSchedule_searchbutton{
    background-color: #152737 ;
    color: #EDEDED;
    font-size: 14px;
    border-width: 0;
    border-radius: 10px;
}
.AdminSchedule_searchbutton:hover{
    background-color: #fe4880 ;
    color: #EDEDED;
}
.AdminSchedule-information{
    background-color: #EDEDED;
    width: 80vw;
    height: 78vh;
    display: flex;
    
    margin-left: 4vw;
    margin-top: 2vh;
    margin-bottom: 2vh;
}
.AdminSchedule-information-table{
    width: 80vw;
    height: fit-content;
    max-height: 78vh;
    /* overflow: auto; */
    overflow: hidden;
    background-color: #fff;
    display: block;
    
    border-radius: 10px;
}
.AdminSchedule-information-table:hover{
    overflow: auto;
}

::-webkit-scrollbar {
    height: 8px;
    display: block;
}

.AdminSchedule-information-header{
    width: 80vw;
    border-radius: 10px 10px 0 0;
    background-color: #fff;
    position: fixed;

    max-width: 80vw;

}
.AdminSchedule-information-detail-wrapper th{
    width: 5vw;
    line-height: 6vh;
    text-align: center;
}
.AdminSchedule-information-detail{
    width: 100%;
    /* padding-top: 2vh; */
    display: block;
}
.AdminSchedule-information-detail-wrapper td{
    width: 5vw;
    line-height: 6vh;
    text-align: center;

    min-width: 5vw;
    max-width: 5vw;
    white-space: nowrap;
    overflow: hidden; /* ẩn phần vượt quá khung */
    text-overflow: ellipsis; /* thay thế phần vượt quá bằng dấu chấm ba chấm */
    padding: 0 0.4vw;
}