.AdminSchedule_main{
    position: absolute;
    top: 8vh;
    left: 12vw;
    width: 88vw;
    height: fit-content;
    background-color: #EDEDED;
    color: rgb(0, 0, 0);
}
.AdminSchedule_searchbar{
    width: 95%;
    height: 8vh;
    padding-top: 2vh;

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    font-family: 'Times New Roman', Times, serif;
}
.AdminSchedule_searchbar_search-area{
    width: 20vw;
    height: 5vh;
    padding-right: 20px;
    margin-left: 2vw;
    border-style: none;
    border-radius: 10px;
    background-color: white;
    text-align: center;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
}
.search-btn{
    font-size: 30px;
    border-radius: 0 20px 20px 0;
    border-width: 0;
    background-color: white;
    display: inline;
    height: 5.2vh;
    margin-left: 1px;
}
.bg-search-btn :active{
    background-color: #152737;
    color:white;
}
.AdminSchedule_btn_create{
    width: 10vw;
    height: 5vh;
    margin-left: 10vh;
    background-color: #152737;
    color: white;
    font-weight: bold;
    border-radius: 15px;
    border-width: 0;
}
.AdminSchedule_btn_create:hover{
    background-color: #fe4880;
    color: white;
    cursor:pointer;
}
.AdminSchedule-information{
    background-color: #EDEDED;
    width: 80vw;
    height: 78vh;
    display: flex;
    
    margin-left: 4vw;
    margin-top: 2vh;
    margin-bottom: 2vh;
}
.AdminSchedule-information-table{
    width: 80vw;
    height: fit-content;
    max-height: 78vh;
    /* overflow: auto; */
    overflow: hidden;
    background-color: #fff;
    display: block;
    
    border-radius: 10px;
}
.AdminSchedule-information-table:hover{
    overflow: auto;
}
.AdminSchedule-information-header{
    width: 80vw;
    border-radius: 10px 10px 0 0;
    background-color: #fff;
    position: fixed;

    max-width: 80vw;

}
/* table{
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
} */
.AdminSchedule-information-detail-wrapper th{
    width: 5vw;
    line-height: 6vh;
    text-align: center;
}
.AdminSchedule-information-detail{
    width: 100%;
    /* padding-top: 2vh; */
    display: block;
}
.AdminSchedule-information-detail-wrapper td{
    width: 5vw;
    line-height: 6vh;
    text-align: center;

    min-width: 5vw;
    max-width: 5vw;
    white-space: nowrap;
    overflow: hidden; /* ẩn phần vượt quá khung */
    text-overflow: ellipsis; /* thay thế phần vượt quá bằng dấu chấm ba chấm */
    padding: 0 0.4vw;
}
/* td{
    border: solid 1px #000;
}  */