.CustomerHome_main{
    position: absolute;
    top: 60px;
    left: 12vw;
    width: 88vw;
    height: fit-content;
    background: linear-gradient(90deg, rgba(226,233,243,1) 40%, rgba(227,227,245,1) 79%);
    color: rgb(0, 0, 0);
    min-height: calc( 100% - 60px);
    max-height: calc( 100% - 60px);
    overflow: auto;
    padding: 24px;

    display: flex;
    flex-direction: column;
    gap: 16px;
}
.event-banner{
    width: calc( 100% );
}
.event-container{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding:12px;
    border-radius: 16px;
    gap:12px;
    width:100%;
}

.input{
    font-style: normal;
    font: 400px;
    border-radius:8px;
    border: none;
    padding:8px 16px;
    outline: 1px solid #EBEBEB;
    font-size: 14px !important;
}

.input:focus{
    outline: 1px solid #0A91AB;
}

.book-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    grid-gap: 24px;
    justify-content: center;
    align-items: center;
    width: 100%;
}
  
.book-item{
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 16px;
    background-color: #fff;
    border-radius: 16px;

    position: relative;
    overflow:hidden;
    cursor: pointer;
}
  
.book-item-text{
    display: flex;
    flex-direction: row;
    gap: 4px;
    text-align: start;
    width:100%;
}

.book-item-text-sale{
    color:red
}

.book-item-text-line{
    text-decoration: line-through;
}
  
.text-bolder{
    font-weight: 600;
    font-size:14px;
}

::-webkit-scrollbar {
    display: none;
}

.img-product{
    height: 100px;
    object-fit: contain;
    border-radius: 16px;
    z-index: 0;
}

.book-item:hover{
    -webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

 @-webkit-keyframes scale-up-center {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    100% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
  }
  @keyframes scale-up-center {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    100% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
}
  