.AdminHome_main{
    position: absolute;
    top: 60px;
    left: 12vw;
    width: 88vw;
    height: fit-content;
    background-color: #EDEDED;
    color: rgb(0, 0, 0);
    height: calc( 100% - 60px);
}