.AdminDetailInvoiceBanHang {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
  }
.AdminDetailInvoiceBanHang_modal {
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    padding: 20px;
    width: 80vw;
    height: 89vh;
    max-width: 100%;
    max-height: 100%;
    overflow: auto;
    position: relative;
}
.AdminDetailInvoiceBanHang_modal-header{
    text-align: center;
    margin-bottom: 3vh;
}
.AdminDetailInvoiceBanHang_modal-header button {
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.AdminDetailInvoiceBanHang_modal_Btn_Change{
    margin-top: 6vh;
    display: flex;
    justify-content: space-around;
}
.AdminDetailInvoiceBanHang_modal_Btn_Change_Cancel{
    width: 10vw;
    height: 4vh;
    text-align: center;

    background-color:#FF5C5C ;
    color: #fff;
    border-width: 0;
    border-radius: 10px;
}
.AdminDetailInvoiceBanHang_modal_Btn_Change_Confirm{
    width: 10vw;
    height: 4vh;
    text-align: center;

    background-color:#249a42 ;
    color: #fff;
    border-width: 0;
    border-radius: 10px;
}
button:hover{
    background-color:#977555 ;
    color: #fff;
    cursor: pointer;
}

.AdminDetailInvoiceBanHang_Bottom{
    position: relative;
    height: 70vh;
    width: 70vw;
    margin: 10px 0 20px 20px;

    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;
}
.AdminDetailInvoiceBanHang_Detail_Content_Date{
    display: flex;
    margin-left: 10vw;
}
.AdminDetailInvoiceBanHang_Detail_Content_LabelDay{
    color:black;
    display:inline;

    font-size: 16px;
    font-weight: 500;
}
.AdminDetailInvoiceBanHang_Detail_Content_Calendar{
    background-color: transparent;
    border: none;
    font-size: 16px;

    display:inline;
    margin-left: 2vw;
}
.AdminDetailInvoiceBanHang_Detail{
    /* padding-top: 10px; */
    height: fit-content;
}
.AdminDetailInvoiceBanHang_CustomerInf_Label{
    display: inline;
    font-weight: 500;
    width: fit-content;
}
.AdminDetailInvoiceBanHang_Detail_Content_Customer{
    margin-left: 5vw;
}
.AdminDetailInvoiceBanHang_Detail_ProductInf_Label{
    display: flex;
    margin-left: 10vw;
    margin-bottom: 2vw;
    font-weight: 500;
}
.AdminDetailInvoiceBanHang_ProductList{
    width: 80vw;
    max-width: 80vw;
    
    height: 45vh;
    /* padding-top: 10px; */
    overflow: auto;
}
.AdminDetailInvoiceBanHang_ProductInf{
    display: flex;
    flex-direction: row;
    margin-left: 7vw;
    margin-top: 2vh;
}
.AdminDetailInvoiceBanHang_ProductInf td{
    width: 13.5vw;
    line-height: 4vh;
    max-height: 4vh;
    text-align: center;

    max-width: 13.5vw;
    min-width: 13.5vw;
    white-space: nowrap;
    overflow: hidden; /* ẩn phần vượt quá khung */
    text-overflow: ellipsis; /* thay thế phần vượt quá bằng dấu chấm ba chấm */
    padding: 0 0.4vw;
}