.AdminPay_main{
    position: absolute;
    top: 8vh;
    left: 12vw;
    width: 88vw;
    height: fit-content;
    background-color: #EDEDED;
    color: rgb(0, 0, 0);
}
.AdminPay_Top{
    position: relative;
    height: 5vh;
    width: 84vw;
    margin:2vh 0 0 2vw;

    display: flex;
    justify-content: center;
    align-items: center;
}
.AdminPay_ProductInf_Label{
    display: inline-block;
}
.AdminPay_ProductInf_Input{
    display: inline-block;
    margin-left: 3vw;
    width: 50vw;
    height: 5vh;

    border-radius: 20px 0 0 20px;
    border-width: 0;
    padding-left: 15px;
}
.AdminPay_ProductInf_SearchBtn{
    border-radius: 0 20px 20px 0;
    background-color: #fff;
    height: 5.25vh;
    margin-left: 1px;
}
.AdminPay_ProductInf_SearchBtn:active{
    background-color: #152737;
    color:white;
}
.AdminPay_Bottom{
    position: relative;
    background-color: #EDEDED;
    height: 81vh;
    width: 84vw;
    margin: 10px 0 20px 30px;

    display: flex;
}
.AdminPay_Content{
    flex:1;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
}
.AdminPay_CustomerInf{
    display: flex;
    max-height: 5vh;
    align-items: center;
}
.AdminPay_Detail{
    padding-top: 20px;
    height: fit-content;
}
.AdminPay_ProductList{
    width: 60vw;
    max-width: 60vw;
    
    height:41vh;
    padding-top: 10px;
    overflow: auto;
}
.AdminPay_ProductInf{
    display: flex;
    flex-direction: row;
}
.AdminPay_ProductInf:hover{
    background-color: aliceblue;
    cursor: pointer;
}
.AdminPay_ProductInf td{
    width: 8.5vw;
    line-height: 6vh;
    text-align: center;

    max-width: 8.5vw;
    min-width: 8.5vw;
    white-space: nowrap;
    overflow: hidden; /* ẩn phần vượt quá khung */
    text-overflow: ellipsis; /* thay thế phần vượt quá bằng dấu chấm ba chấm */
    padding: 0 0.4vw;
}
.AdminPay_ProductInf .btn_deleteProduct{
    width: 2vw;
    text-align: center;
    max-width: 2vw;
    min-width: 2vw;
    display: none;

    z-index: 9998;
}
.AdminPay_ProductInf:hover .btn_deleteProduct {
    display: table-cell;
}
.AdminPay_btnChange{
    margin-top: 5px;
    display: flex;
    justify-content: flex-end;
}
.AdminPay_btnChange button{
    color: white;
    border-width: 0;
    border-radius: 10px;
    width: 11vw;
    height: 4vh;
}
.AdminPay_btnChange button:active{
    background-color: #FF5C5C;
}
.AdminPay_btnConfirm{    
    background-color: #29bbd8;
}